.hero {
  padding: 0 20px;
  padding-bottom: 130px;

  &__container {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    flex-direction: column;
    text-transform: capitalize;

    @media (max-width: @mobile) {
      padding: 0 1em;
    }
  }

  &__single-name {
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    color: transparent;
    -webkit-text-stroke-color: @white;
    -webkit-text-stroke-width: 1px;

    @media (max-width: @touch) {
      font-size: 50px;
      line-height: 100px;
    }
  }

  &__audio-container {
    display: grid;
    grid-template-columns: min-content auto min-content min-content min-content;
    grid-template-rows: 1fr;
    align-items: center;
  }

  &__time {
    color: @white;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  &__cur-time-line {
    display: block;
    margin-right: 45px;
    height: 2px;
    appearance: none;
    background-color: @white;
    cursor: pointer;

    @media (max-width: @mobile) {
      margin-right: 20px;
    }
  }

  &__btn-play {
    width: 0;
    height: 0;
    padding: 0;
    margin-right: 45px;
    border-radius: 4px;
    background-color: transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: none;
    border-left: 25px solid @white;
    cursor: pointer;

    @media (max-width: @mobile) {
      margin-right: 20px;
    }
  }
}
