.news-item {
  &__wrapper {
    max-width: 350px;
    position: relative;

    &:hover .news-item__text {
      max-height: 300px;
      height: 100%;
    }
  }

  &__image {
    display: block;
    border-radius: 20px 0;

    @media (max-width: @mobile) {
      max-width: 320px;
      height: auto;
    }
  }

  &__text {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 350px;
    width: 100%;
    max-height: 90px;
    height: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1em;
    padding-right: 0;
    border-radius: 20px 0;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #ffffff;
    background-color: fade(#7a66cc, 70%);
    transition: 0.3s ease;

    @media (max-width: @mobile) {
      max-width: 320px;
    }
  }
}
