.tours {
  position: relative;
  padding-bottom: 0;

  &__buttons-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .tours__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 21px 10px;
    background: none;
    border: 1px solid @white;
    border-radius: 10px 0;
    opacity: 0.5;
    cursor: pointer;

    &--prev {
      left: -40px;

      @media (max-width: @touch) {
        left: 40px;
      }

      @media (max-width: @mobile) {
        left: 10px;
      }
    }

    &--forward {
      right: -40px;

      @media (max-width: @touch) {
        right: 40px;
      }

      @media (max-width: @mobile) {
        right: 10px;
      }
    }
  }

  .tours__button-icon--forward {
    transform: rotate(180deg);
  }

  .tours__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;

    @media (max-width: @touch) {
      justify-content: center;
    }
  }
}
