.tracks {
  display: grid;
  padding-top: 80px;
  grid-template-columns: min-content auto;
  grid-template-rows: repeat(4, min-content);
  column-gap: 80px;

  @media (max-width: @touch) {
    justify-content: center;
    grid-template-columns: min-content;
    grid-template-rows: repeat(4, min-content);
  }

  &__container {
    display: grid;
    grid-template-columns: min-content auto 50px 20px 50px;
    align-items: center;

    @media (max-width: @mobile) {
      grid-template-columns: min-content;
    }
  }

  &__title {
    padding: 0;
    margin: 0;
    grid-column: 2;

    @media (max-width: @touch) {
      margin-top: 20px;
      font-size: 1.5em;
      grid-column: 1;
    }
  }

  &__image-wrapper {
    grid-row: 1 / -1;
    padding: 0;
    margin: 0;
    border: 18px solid fade(@secondary-color, 30%);
    border-radius: 50%;
    z-index: -10;

    @media (max-width: @touch) {
      grid-row: 1;
    }
  }

  &__picture {
    display: block;
    border: 20px solid fade(@secondary-color, 60%);
    border-radius: 50%;
    z-index: -10;

    @media (max-width: @touch) {
      width: 400px;
      height: auto;
    }

    @media (max-width: @mobile) {
      width: 200px;
      height: auto;
    }
  }

  &__list {
    padding: 0;
    list-style-type: none;
    grid-column: 2;

    @media (max-width: @mobile) {
      grid-column: 1;
    }
  }

  &__item {
    color: @white;
    cursor: pointer;

    &::before {
      counter-increment: player;
      content: "0" counter(player);
      margin-right: 20px;
      opacity: 0.5;
      color: @white;
      font-weight: initial;
    }

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &__track-item--active {
    font-weight: 600;
    color: @secondary-color;
  }
}
